@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
  font-size: 20px;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #fdd034 0%, #d52d8b 179.25%);
}

.progress {
  background: linear-gradient(90deg, #4646ff 0%, #e92bff 100%);
}

.done {
  background: linear-gradient(90deg, #f670c1 0%, #32defd 100%);
}

.hold {
  border: 1px solid #eafaf7;
}

.hide {
  display: none;
}

.hovered {
  border-radius: 25px;
  border: 2px solid rgba(177, 174, 174, 0.507);
  box-shadow: 4px 1px 30px #a1abac;
}

.item:hover {
  margin-top: -1px;
  margin-left: -1px;
  width: 154px;
  height: 70px;
}

.back{
  background-color: #cecece;
  padding: 40px;
  border-radius: 25px;
}